body{
  color: #c9d3e3;
  background-color:#23272E;
}

/* selecao de texto para copiar */
::selection {
  background: #3D4556;
  color: #d6e2f4;
}

::-webkit-scrollbar-thumb {
  background: #ffffff22;
}

/* Selecionar o scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff22;
}

/* fundo da tela do chat */
div.chatContent{
  background-image: linear-gradient(
      180deg,
    hsl(218, 14%, 15%) 0%,
    hsl(218, 14%, 13%) 100% 
  );
}

select.theme,select.theme:disabled{
  color: #c9d3e3;
  background-color: transparent;
  border-color: #ffffff40;
}
  
select.theme:focus,select.theme:active{
  color: #c9d3e3;
  background-color: #1E2227;
  border-color: #ffffff7e;
}

option:checked {
  background-color: #181b1f;
  color: #c9d3e3;
}

p.chatBot, p.chatUser{
  color: #c9d3e3;
  background-color:#23272E;
  background-image: linear-gradient(
    150deg,
  hsl(218, 14%, 18%) 0%,
  hsl(218, 14%, 16%) 100% 
  );
}

p.chatBot{
  border-top-color: rgb(255 255 255 / 49%);
  border-inline-color: rgb(255 255 255 / 40%);
  border-bottom-color: rgb(255 255 255 / 35%);
}

p.chatUser{
  border-top-color: rgb(255 255 255 / 24%);
  border-inline-color: rgb(255 255 255 / 18%);
  border-bottom-color: rgb(255 255 255 / 13%);
}

div#prompt-container{
  border-top: 1px solid #ffffff17;
  background-color: #23272E;
}

button.prompt-button{
  border-top-color: hsla(0, 0%, 100%, 0.30);
  border-inline-color: hsla(0, 0%, 100%, 0.25);
  border-bottom-color: hsla(0, 0%, 100%, 0.20);
}

button.prompt-button:hover,button.prompt-button:active,button.prompt-button:focus,button.prompt-button:visited{
  background-color: #ffffff10 !important;
  border-color: #ffffff40 !important;
  color: white !important;
}

button.prompt-button:disabled{
  border-color: rgba(255, 255, 255, 0.15);
}

textarea.form-control{
  color: #c9d3e3;
  background-color: #23272E;
  border-top-color: hsla(0, 0%, 100%, 0.20);
  border-inline-color: hsla(0, 0%, 100%, 0.175);
  border-bottom-color: hsla(0, 0%, 100%, 0.175);
}

textarea.form-control:focus,textarea.form-control:active{
  color: #c9d3e3;
  background: #1E2227;
  border-color: #ffffff7e;
}

div.theme.modal-header{
  border-color: #ffffff17;
}
  
div.theme.modal-content{
  border: 1px solid #ffffff17;
  background-color: #23272E;
}