::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track,::-webkit-scrollbar-corner {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff22;
    border-radius: 6px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff22;
}