div.selectors{
    max-width: 100%;
    margin-inline: auto;
}
  
select.form-select,select.form-select:disabled{
    width:100%;
    text-align: center;
    margin-inline: auto;
    border-width: 2px;
}

select.theme:focus,select.theme:active{
    box-shadow: none;
}

@media only screen and (min-width: 600px) {
    div.selectors{
      max-width: fit-content;
      display: flex;
      margin-inline: auto;
    }
    select.form-select,select.form-select:disabled{
      margin-inline: 0.25em;
    }
}