body{
  color: #c9d3e3;
  background-color:#23272E;
}
::selection {
  background: #3D4556;
  color: #d6e2f4;
}
div.dark-mode.modal-header{
  border-color: #ffffff17;
}

div.dark-mode.modal-content{
  border: 1px solid #ffffff17;
  background-color: #23272E;
}

option:checked {
  background-color: #181b1f;
  color: #c9d3e3;
}

@media only screen and (max-width: 500px) {
  .unnecessary-text{
    display: none;
  }
}