div.selectors{
    max-width: 100%;
    margin-inline: auto;
}

select.dark-mode,select.dark-mode:disabled{
  color: #c9d3e3;
  background-color: transparent;
  border-color: #ffffff40;
}

select.dark-mode:focus,select.dark-mode:active{
  color: #c9d3e3;
  background-color: #1E2227;
  border-color: #ffffff7e;
  box-shadow: none;
}
  
select.form-select,select.form-select:disabled{
    width:100%;
    text-align: center;
    margin-inline: auto;
    border-width: 2px;
}

option:checked {
  background-color: #181b1f;
  color: #c9d3e3;
}

@media only screen and (min-width: 600px) {
    div.selectors{
      max-width: fit-content;
      display: flex;
      margin-inline: auto;
    }
    select.form-select,select.form-select:disabled{
      margin-inline: 0.25em;
    }
}